*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::root{
    --primary-color: #4E47FF;
}

/* Hero section all CSS  */

.header-section{
    padding: 30px 100px;
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: var(--primary-color);
    font-size: 34px;
}
.btn{
    padding: 14px 26px;
    background-color: #4E47FF;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: #dc8a17;
}
.hero-section{
    text-align: center;

}
.hero-title{
    margin-top: 10%;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 25px;
}


/* Action section all CSS  */

main{
    padding: 30px 100px;
}
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.action-section .action-left{
    width: 50%;
}
.action-left .action-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}
.action-left .action-description{
    font-size: 23px;
    color: gray;
    margin-bottom: 20px;
}

.action-section .action-right{
    width: 40%;
}
.action-right img{
    width: 400px;
    height: 330px;
    border-radius: 40px;
}

/* user section all CSS */

.user-section{
    margin: 100px 0;
    padding : 20px 0;
    border-radius: 20px;
    text-align: center;
    background-color: #bab8ea;
}
.user-section h1{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 25px;
}
.user-section .statistics-box{
    display: flex;
    justify-content: space-around;
}

.user-section .statistics h4{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.user-section .statistics p{
    font-size: 16px;
    color: gray;
}